@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.headerthing {
  font-size: 69px; /* nice */
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
}

.sunthing {
    font-size: 120px;
}

#temp-message {
    font-size: 25px;
}

.label {
    font-weight: bold;
}

#overview {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}

#overview p {
    margin-bottom: 10px;
}

